@charset "utf-8";
/* CSS Document */

body {
    background-color: lightblue;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

img{
	margin:auto;
	display: block;
	max-width: 70%;
    height: auto;
}

.contenu{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main{
	margin-bottom:15%;
	margin-left:20%;
}